fastapi
uvicorn
python-multipart
llama-index
llama-index-llms-azure-openai
llama-index-embeddings-openai
llama-index-vector-stores-faiss
faiss-cpu
python-dotenv
aiofiles
pypdf
llama-index-llms-openai
llama-index-llms-gemini
llama-index-embeddings-gemini
llama-index-embeddings-azure-openai
sqlalchemy
bcrypt
python-jose[cryptography]
jinja2
